.vernagir:hover{
	background-color: #c1b2b2;
}

.vernagir2{
	text-align: center;
}
.accaunt{
	margin-left: 55px;
}
@media only screen and (max-width: 896px) {
  .nkar {
    display: none;
  }
  .div{
  	width: 100%;
  }
}
@media only screen and (min-width: 896px) {

  .div{
  	width: 650px;
  }
}

@media only screen and (max-width: 755px) {

  .accaunt{
  	margin-left: 25px;
  }
}